.ul {
    margin: 0;
    padding-inline: 1rem;
    border: 2px solid black;
    height: 2em;
    overflow: hidden;
}

.wrapper>div {
    width: 100%;
    text-align: center;
    height: 1.5em;
    margin-top: -0.5em;
    transition: all .3s linear;
}

#container {
    transition: all .3s linear;
    transform: translateY(var(--y));
}

.disable {
    display: none;
}

.wrapper {
    transform: translateY(var(--wrapper-y));
}

.previous,
.next {
    scale: 0.7;
    opacity: 0.6;
}

:root {
    --y: 0em;
    --wrapper-y: -1.2em;
}