#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    gap: 10px;
}

#intro>p {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(83, 83, 82);
    border: solid 2px black;
    text-shadow: -1px 1px rgb(31, 31, 31);
    font-weight: bold;
    text-align: center;
    max-width: 50vw;
    word-break: break-all;
    padding: 0.5rem;
    transition: all 1s cubic-bezier(0.28, 0.26, 0.49, 1.22);
}


.vh-100 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.fade-animation {
    transition: opacity 1s linear;
}

.op-0 {
    opacity: 0%;
}

.op-100 {
    opacity: 100%;
}

.background {
    background-color: rgb(122, 24, 24);
}

body {
    margin: 0;
}

p {
    margin: 0;
}